<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/student" method="get">
        <textarea name="text" placeholder="Enter the description" style="background-color: aquamarine; size: 100px; width: 684px;  height: 100px;"></textarea><br>
        <input type="checkbox" name="check1">Click Here to Check<br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>