<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Simple Django Page</title>

</head>
<body>
  <h1>This is Just Practice</h1>
    <form action="/textcheck" method="get">
      <textarea placeholder="Enter the text" style="background-color: antiquewhite; height: 200px; width: 500px;" name="textcheck1"> </textarea><br>
      <input type="checkbox" name="textcheck">Click here to print the output<br>
      <input type="checkbox" name="removepunc">Click here to Remove the puctuations<br>
      <input type="checkbox" name="uppercase">Click here to Convert the text into uppercase<br>
      <button type="submit">Submit</button>
    </form>


</body>
</html>
